/*Comeco das fotos*/

* {
    box-sizing: border-box;
}

.sofa {
    float: left;
    width: 33.33%;
    padding: 5px;
	text-align: center;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Fim das fotos*/

/*Comeco dos nomes das fotos*/
#tabela {
	magin-left:70px;
}
.info{
	font-size:20px;
	font-weight:bold;
	padding-left:130px;
	text-decoration: none;	
}

/*Fim dos nomes das fotos*/